/NetBeansProyecto1/target/
/NetBeansProyecto1/ProyectoInterfaces/nbproject/private/
/NetBeansProyecto1/ProyectoInterfaces/build/
/NetBeansProyecto/ProyectoInterfaces/build/
/NetBeansProyecto/ProyectoInterfaces/nbproject/private/
/NetBeansProyecto/build/
